body {
  color:#FBFFE3;
  background-color:#333333;
  text-align:center;
}
#root {
  background-color:#E21B5A;
  max-width:500px;
  margin:0 auto;
}

li {
  font-weight:bold;
}

.listItem {
  background-color:#9E0C39;
  list-style:none;
  border:5px solid #000;
  margin:5px
}